@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

body {
  font-family: -apple-system, BlinkMacSystemFont, Trebuchet MS, Roboto, Ubuntu,
    sans-serif;
}
.nav-container {
  @include between;
  width: 100%;
  height: 70px;
  position: sticky;
  top: 0px;
  background-color: $mainColor;
  color: white;
  z-index: 100;
  .active {
    color: $blueColor;
  }
  .nav-logo {
    @include start;
    margin-left: 30px;
    position: relative;
    h1 {
      font-size: 26px;
      flex: 1;
      font-weight: bold;
      margin-left: 5px;
    }
    img {
      width: 50px;
      height: 50px;
    }
  }
  .nav-links {
    @include center;
    flex: 6;
    li {
      position: relative;
      width: fit-content;
      .nav-link {
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
        padding: 10px 20px;
        border-radius: 25px;
        &:hover {
          background-color: #333840;
        }
      }
    }
  }
  .nav-user {
    @include end;
    flex: 1;
    margin-right: 40px;
    span {
      @include center;
      width: 40px;
      height: 40px;
      text-align: center;
      align-items: center;
      border-radius: 50%;
      background-color: $blueColor;
      transition: 0.3s;
      font-size: 20px;
      &:hover {
        cursor: pointer;
        background-color: #0079b6;
      }
    }
  }

  .profile-area {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #fff;
    border-radius: 0 0 6px 6px;
    box-shadow: $headerShadow;
    padding: 15px 10px;
    border-top: 4px solid $blueColor;
    z-index: 1;
    &.false {
      display: none;
    }
    .pa-info {
      @include start;
      position: relative;
      width: 250px;
      margin-bottom: 15px;
      border-radius: 6px;
      transition: 0.3s;
      padding: 5px 0px;
      cursor: pointer;
      &::after {
        content: "";
        position: absolute;
        height: 1px;
        width: 100%;
        left: 50%;
        bottom: -10px;
        transform: translateX(-50%);
        background-color: #ddd;
      }
      .home-user-img {
        @include center;
        background-color: $blueColor;
        color: white;
        text-align: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
      }
      span {
        font-weight: bold;
        font-size: 16px;
        color: $blueColor;
      }
      &:hover {
        background-color: #eee;
      }
    }
    .profile-area-space {
      content: "";
      height: 1px;
      width: 100%;
      background-color: #ddd;
      margin-top: 5px;
    }
    .active-logout {
      &:hover {
        background-color: $redColor !important;
      }
    }

    .logout {
      @include start;
      width: fit-content;
      border-radius: 6px;
      transition: 0.3s;
      cursor: pointer;
      user-select: none;
      width: 100%;
      padding: 10px;
      color: $mainColor;
      &:hover {
        background-color: $blueColor;
        color: #fff;
      }
      img {
        width: 20px;
      }
      span {
        font-weight: bold;
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }
}
