// Colors
$mainColor: #0e141e;
$mainColor2: #161e2e;
$redColor: #f55353;
$btnColor: #feb139;
$yellowColor: #f6f54d;
$darkColor: #484848;
$blueColor: #00a9ff;
$greenColor: #18cf08;
$separatorColor: #ddd;
$hoverColor: #f2f2f2;
// Styles
$cardShadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
$headerShadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
$lightShadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.25);
