@use "../../../shared/styles/colors" as *;
@use "../../../shared/styles/mixins" as *;

.groofybtn {
  @include center;
  gap: 0 5px;
  background-color: $btnColor;
  border-radius: 10px;
  box-shadow: $headerShadow;
  padding: 8px 12px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  user-select: none;
  &:hover {
    box-shadow: none;
  }
  .btn-text {
    font-size: 17px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
  }
  .btn-icn {
    width: 25px;
  }
}
